    <!--Footer-->
    <footer class="page-footer pt-0 mt-5 rgba-stylish-light">

        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
              <div class="container-fluid">
                 © 2011 Copyright: <a href="http://www.nazarene.org/" target="_blank"> Church of the Nazarene. All rights reserved. </a>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->